@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Poppins:ital,wght@1,200&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.text{
  opacity: 10px;
}
.title{
  font-size: 30px;
  margin-bottom: 16px;
  
}
.container{
  min-height: 100vh ;
  margin-top: 50px;
}
.food-wrap{
  max-width: 1280px;
  margin: 0 auto;
  padding: 36px;
  height: 650px;
  background-image: url(https://www.diabetes.org/sites/default/files/2019-08/Diabetes-Superfoods-min.jpg); width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.food-search{
  margin: 28px;
}
.food-search cite{
  font-size: 16px;
}
.meal-search-box{
  margin: 14px 0;
  display: flex;
  align-items: stretch;
}

.search-control{ 
  padding: 0 20px;
  width: 50%;
  font-size: 20px;
  font-family: inherit;
  border: 3px solid darkorchid;
  color:darkorchid;
  
}
.search-control::placeholder{
  color:darkorchid
}

.food-result{
  margin-top: 70px;
  margin-bottom: 35px;
}
#food{

position: relative;
  
}
.food-item{
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 2px 7px 18px -12px; color: rgb(20, 11, 11);
  margin: 32px 0;

}
.food-img img{
  width: 100%;
  display: block;
}
.food-name{
  padding: 20px 5px;
  
}
.food-name h3{
  font-size: 20px;
  margin-top: 5px;
  padding-bottom: 35px ;
}
.recipe-btn{
  text-decoration: none;
  color:darkorchid;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 0;
  display: block;
  width: 175px;
  margin: 16px auto;
  border-radius: 36 px;
  transition: all 0.4s; ;
}
.recipe-btn:hover{
  background: darkorchid;
}
.error{
  grid-template-columns: 1fr!important;
  color:rgb(20, 11, 11);
  font-size: 20px;
}
.food-inst{
  position: absolute;
  left: 0%;
  top: 0%;
border: 3px solid black;
 background-color: rgb(117, 200, 238);
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
padding: 2%;
 
}

.food-inst img{
  width: 500px;
}

.name-title{
  color: blueviolet;
  font: 2em sans-serif;
  padding: 20px 5px;
  text-align: center;
}
.recipe-category{
  font-size: 30px;
}
.h3{
  margin-bottom: 20px;
}
.recipe-instruct p{
font-family: cursive;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
width: 100%;
margin-bottom: 20px;
}

/* Media Queries */

@media screen and (min-width: 992px){
  #food{
      grid-template-columns: repeat(3, 1fr);
      
  }
}


@media screen and (min-width: 768px){
  #food{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
  }
  .food-item{
      margin: 0;
  }
  .meal-details{
      width: 700px;
  }
}


@media screen and (min-width: 600px){
    .food-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}


@media screen and (min-width: 375px){
  .food-inst img{
   width: 200px !important;
  }
}